@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header-wapper {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 20;
  border-bottom: 2px solid #eaecf0;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 1s;
  z-index: 99;
}

.modal_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  z-index: 9999;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
}
/* Modal-Signup */
.auth-form {
  max-width: 600px;
  min-height: 200px;
  width: 432px;
}

.auth-form_btn {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: #77dada;
  cursor: pointer;
}